@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6fafd;
    font-family: 'Lora', serif;

}

.news-container {
    background-color: #f6fafd;
    gap: 20px;

}

.news-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-logo {
    width: 50px;
    height: auto;
    justify-content: center;
}


.newsfeed {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.news-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #f6fafd;
    max-width: 100%;
    max-height: auto;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
}

.link {
    align-self: flex-end;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size:50px;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.date {
    color: gray;
}

.news-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: black;
    text-decoration: underline;
    transition: color 0.2s ease;
}
.sidebar {
    background-color: #f6fafd; /* Light gray background */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    flex-shrink: 0; /* Prevents shrinking */
}

.sidebar-box {
    background: #f8fbfe;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
}


.news-container {
    display: flex;
    gap: 20px; /* Space between sidebar and newsfeed */
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #333;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 768px) {

    .sidebar img, 
    .sidebar p {
        display: none; /* Hides the image and text */
    }
    .news-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
}
